{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@modules": [
            "modules"
          ],
          "@config": [
            "config"
          ],
          "@shared": [
            "shared"
          ],
          "@errors": [
            "errors"
          ],
          "@utils": [
            "utils"
          ],
          "@prismaFolder": [
            "../prisma"
          ]
        }
      }
    ],
    [
      "babel-plugin-transform-typescript-metadata"
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
