<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      .container { width: 800px; font-family: Arial, Helvetica, sans-serif; }
      span { margin: 10px 0; display: block; }
    </style>
  </head>
  <body>
    <div class='container'>
      <span>Dear {{name}}</span>
      <br />
      <span>You've requested a password reset</span>
      <span>
        Please access the link to proceed with the reset:
        <a href={{link}}>{{link}}</a>
      </span>
      <span>
        Case this request wasn't made by you, you can ignore this message
      </span>
      <strong>Thank you</strong>
      <h3>Support Team | <strong>Locar</strong></h3>
    </div>
  </body>
</html>
